kestra/flows/estate-scan-home.yaml
id: estate-scan-home
namespace: aether.estate

description: |
  Staged estate discovery + L7 DAG. Dispatches typed aether-scan stages over SSH
  to kestra-estate-scanner@10.0.2.13 (ForceCommand). Polls via on-guest wait-stage.
  Discovery shards: home, iot, gigahub, cidr-infra, cidr-services, aws-private,
  gcp-private (merge-diff unions all discover-*.jsonl). Daily uses nuclei-daily
  allowlist; weekly trigger sets profile=nuclei-weekly (larger curated pack).
  On flow failure, abandon the minted run so CH is not left running until reap-stale.

concurrency:
  behavior: QUEUE
  limit: 1

inputs:
  - id: profile
    type: STRING
    defaults: nuclei-daily
  - id: l7_scope
    type: STRING
    defaults: full
    description: "full = all discovered listeners; changed = new/changed only"

tasks:
  - id: mint_run_id
    type: io.kestra.plugin.core.debug.Return
    format: "{{ uuid() }}"

  - id: fingerprint_artifact
    type: io.kestra.plugin.core.debug.Return
    format: "{{ inputs.l7_scope == 'changed' ? 'services-changed.jsonl' : 'services-all.jsonl' }}"

  - id: targets
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "targets snapshot {{ outputs.mint_run_id.value }} {{ inputs.profile }}"

  - id: inventory_sync
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "inventory-sync {{ outputs.mint_run_id.value }}"

  - id: discover_home
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "discover {{ outputs.mint_run_id.value }} home"

  - id: wait_discover_home
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "wait-stage {{ outputs.mint_run_id.value }} discover home 1800"

  - id: discover_iot
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "discover {{ outputs.mint_run_id.value }} iot"

  - id: wait_discover_iot
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "wait-stage {{ outputs.mint_run_id.value }} discover iot 1800"

  - id: discover_gigahub
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "discover {{ outputs.mint_run_id.value }} gigahub"

  - id: wait_discover_gigahub
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "wait-stage {{ outputs.mint_run_id.value }} discover gigahub 1800"

  - id: discover_cidr_infra
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "discover {{ outputs.mint_run_id.value }} cidr-infra"

  - id: wait_discover_cidr_infra
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "wait-stage {{ outputs.mint_run_id.value }} discover cidr-infra 3600"

  - id: discover_cidr_services
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "discover {{ outputs.mint_run_id.value }} cidr-services"

  - id: wait_discover_cidr_services
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "wait-stage {{ outputs.mint_run_id.value }} discover cidr-services 3600"

  - id: discover_aws_private
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "discover {{ outputs.mint_run_id.value }} aws-private"

  - id: wait_discover_aws_private
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "wait-stage {{ outputs.mint_run_id.value }} discover aws-private 1800"

  - id: discover_gcp_private
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "discover {{ outputs.mint_run_id.value }} gcp-private"

  - id: wait_discover_gcp_private
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "wait-stage {{ outputs.mint_run_id.value }} discover gcp-private 1800"

  - id: merge_diff
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "merge-diff {{ outputs.mint_run_id.value }}"

  - id: fingerprint
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "fingerprint {{ outputs.mint_run_id.value }} {{ outputs.fingerprint_artifact.value }}"

  - id: wait_fingerprint
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "wait-stage {{ outputs.mint_run_id.value }} fingerprint 2400"

  - id: validate
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "validate {{ outputs.mint_run_id.value }} fingerprint.jsonl {{ inputs.profile }}"

  - id: wait_validate
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "wait-stage {{ outputs.mint_run_id.value }} validate 28800"

  - id: finalize
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "finalize {{ outputs.mint_run_id.value }}"

errors:
  - id: abandon_on_failure
    type: io.kestra.plugin.fs.ssh.Command
    allowFailure: true
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "abandon {{ outputs.mint_run_id.value }} kestra-flow-failed"

triggers:
  - id: daily
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "15 5 * * *"
    timezone: America/New_York
  - id: weekly
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "30 3 * * 0"
    timezone: America/New_York
    inputs:
      profile: nuclei-weekly
