kestra/flows/estate-scan-home.yaml
id: estate-scan-home
namespace: aether.estate

description: |
  Staged home-estate discovery DAG. Dispatches typed aether-scan stages over SSH
  to kestra-estate-scanner@10.0.2.13 (ForceCommand). Polls compact status JSON.

concurrency:
  behavior: QUEUE
  limit: 1

inputs:
  - id: profile
    type: STRING
    defaults: discovery-common

tasks:
  # ClickHouse estate_scan.run_id is UUID; Kestra execution.id is Url62 — mint RFC4122.
  - id: mint_run_id
    type: io.kestra.plugin.core.debug.Return
    format: "{{ uuid() }}"

  - id: targets
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "targets snapshot {{ outputs.mint_run_id.value }} {{ inputs.profile }}"

  - id: discover_home
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "discover {{ outputs.mint_run_id.value }} home"

  - id: wait_discover
    type: io.kestra.plugin.core.flow.Pause
    delay: PT90S

  - id: discover_status
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "status {{ outputs.mint_run_id.value }} discover home"

  - id: merge_diff
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "merge-diff {{ outputs.mint_run_id.value }}"

  - id: fingerprint
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "fingerprint {{ outputs.mint_run_id.value }} services-changed.jsonl"

  - id: wait_fingerprint
    type: io.kestra.plugin.core.flow.Pause
    delay: PT60S

  - id: fingerprint_status
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "status {{ outputs.mint_run_id.value }} fingerprint"

  - id: validate
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "validate {{ outputs.mint_run_id.value }} fingerprint.jsonl nuclei-daily"

  - id: wait_validate
    type: io.kestra.plugin.core.flow.Pause
    delay: PT180S

  - id: validate_status
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "status {{ outputs.mint_run_id.value }} validate"

  - id: finalize
    type: io.kestra.plugin.fs.ssh.Command
    host: "{{ envs.estate_scanner_host }}"
    username: "{{ envs.estate_scanner_user }}"
    authMethod: PUBLIC_KEY
    privateKey: "{{ secret('ESTATE_SCANNER_SSH_KEY') }}"
    strictHostKeyChecking: "false"
    commands:
      - "finalize {{ outputs.mint_run_id.value }}"

triggers: []
